In [79]:
import pandas as pd
df1=pd.read_csv('student-scores.csv')
df=df1.copy()
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [80]:
df.columns
df.drop(columns=['id', 'first_name', 'last_name', 'email'],axis=1,inplace=True)

In [81]:
df['total_score']=df['math_score']+df['history_score']+df['physics_score']+df['chemistry_score']+df['biology_score']+df['english_score']+df['geography_score']
df['average_score']=df['total_score']/7
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

In [82]:
gender_map={'male':'0','female':'1'}
part_time_job_map={False:'0',True:'1'}
extracurricular_activities_map={False:'0',True:'1'}
career_aspiration_map={'Lawyer':0, 'Doctor':1, 'Government Officer':2, 'Artist':3, 'Unknown':4,
       'Software Engineer':5, 'Teacher':6, 'Business Owner':7, 'Scientist':8,
       'Banker':9, 'Writer':10, 'Accountant':11, 'Designer':12,
       'Construction Engineer':13, 'Game Developer':14, 'Stock Investor':15,
       'Real Estate Developer':16}
df['gender']=df['gender'].map(gender_map)
df['part_time_job']=df['part_time_job'].map(part_time_job_map)
df['extracurricular_activities']=df['extracurricular_activities'].map(extracurricular_activities_map)
df['career_aspiration']=df['career_aspiration'].map(career_aspiration_map)

In [83]:
df['career_aspiration'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [84]:
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,0,0,3,0,27,0,73,81,93,97,63,80,87,574,82.000000
1,1,0,2,0,47,1,90,86,96,100,90,88,90,640,91.428571
2,1,0,9,1,13,2,81,97,95,96,65,77,94,605,86.428571
3,1,0,5,0,3,3,71,74,88,80,89,63,86,551,78.714286
4,0,0,5,0,10,4,84,77,65,65,80,74,76,521,74.428571

In [85]:
df['career_aspiration'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [86]:
df['career_aspiration'].value_counts()

5     315
7     309
4     223
9     169
0     138
11    126
1     119
16     83
15     73
13     68
3      67
14     63
2      61
6      59
12     56
8      39
10     32
Name: career_aspiration, dtype: int64

In [87]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(random_state=42)
x=df.drop('career_aspiration',axis=1)
y=df['career_aspiration']

x_resampled,y_resampled=smote.fit_resample(x,y)

In [88]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_resampled,y_resampled,test_size=0.2,random_state=42)

In [89]:
x_train.shape

(4284, 14)

In [90]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.fit_transform(x_test)

In [91]:
x_train_scaled.shape

(4284, 14)

In [92]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import warnings
warnings.filterwarnings('ignore')

In [93]:
models={
    'Logistic Regression': LogisticRegression(),
    'support vector classifier':SVC(),
    'Random Forest Classifier':RandomForestClassifier(),
    'K Nearest Neighbors':KNeighborsClassifier(),
    'Decision Tree Classifier':DecisionTreeClassifier(),
    'Gaussian NB':GaussianNB(),
    'Ada Boost Classifier':AdaBoostClassifier(),
    'Gradient Boosting Classifier':GradientBoostingClassifier(),
    'XGBoost Classifier':XGBClassifier(use_label_encoder=False, eval_metric='mlogloss'),
}

for name,model in models.items():
    print('='*50)
    print('model: ',name)
    model.fit(x_train_scaled,y_train)
    y_pred=model.predict(x_test_scaled)
    
    accuracy=accuracy_score(y_test,y_pred)
    classification_rep=classification_report(y_test,y_pred)
    conf_matrix=confusion_matrix(y_test,y_pred)
    
    print('accuracy ',accuracy)
    print('classification_report\n ',classification_rep)                            
    print('confusion_matrix\n ',conf_matrix)

==================================================
model:  Logistic Regression
accuracy  0.4995331465919701
classification_report
                precision    recall  f1-score   support

           0       0.44      0.46      0.45        68
           1       0.56      0.67      0.61        72
           2       0.44      0.40      0.42        57
           3       0.53      0.59      0.56        58
           4       0.31      0.17      0.22        66
           5       0.33      0.28      0.30        76
           6       0.60      0.85      0.70        71
           7       0.79      0.89      0.84        61
           8       0.44      0.57      0.50        53
           9       0.19      0.08      0.11        61
          10       0.54      0.73      0.62        63
          11       0.45      0.47      0.46        53
          12       0.35      0.21      0.26        68
          13       0.47      0.75      0.57        55
          14       0.61      0.95      0.74        57
          15       0.46      0.27      0.34        63
          16       0.47      0.30      0.37        69

    accuracy                           0.50      1071
   macro avg       0.47      0.51      0.47      1071
weighted avg       0.47      0.50      0.47      1071

confusion_matrix
  [[31  4  0  0  0  5  0  0  3  2  9  5  0  9  0  0  0]
 [ 3 48  0  0  0  5  0  0 13  0  0  0  1  2  0  0  0]
 [ 0  0 23  3  2  1  8  0  0  0  3  0  7  2  2  1  5]
 [ 0  0  2 34  0  0  1  2  0  0  0  0  0  0 10  0  9]
 [ 4  4  7  3 11  9  5  1  4  3  0  4  4  2  1  1  3]
 [ 5  9  0  0  1 21  1  0  4  7  1  6  1 16  0  4  0]
 [ 0  0  0  0  0  1 60  0  0  1  4  0  3  0  1  0  1]
 [ 0  0  0  1  0  0  0 54  0  0  0  0  0  0  4  0  2]
 [ 4 11  0  0  0  0  0  0 30  0  7  0  0  1  0  0  0]
 [11  0  2  0  3  9  7  0  2  5  4  8  5  3  0  2  0]
 [ 7  2  0  0  1  0  3  0  2  1 46  0  0  0  1  0  0]
 [ 0  1  1  0  6  5  2  0  4  2  0 25  0  4  0  3  0]
 [ 1  1  6  2  5  2  8  2  4  1  4  0 14  2  8  6  2]
 [ 1  3  0  0  2  0  0  0  1  1  3  2  0 41  0  1  0]
 [ 0  0  0  2  0  0  0  0  0  0  0  0  0  0 54  0  1]
 [ 4  2  4  0  4  5  0  3  1  3  3  5  4  6  1 17  1]
 [ 0  0  7 19  0  0  5  6  0  0  1  0  1  0  7  2 21]]
==================================================
model:  support vector classifier
accuracy  0.7021475256769374
classification_report
                precision    recall  f1-score   support

           0       0.60      0.71      0.65        68
           1       0.64      0.90      0.75        72
           2       0.67      0.84      0.74        57
           3       0.76      0.90      0.83        58
           4       0.56      0.30      0.39        66
           5       0.46      0.34      0.39        76
           6       0.79      0.94      0.86        71
           7       0.89      0.92      0.90        61
           8       0.70      0.87      0.77        53
           9       0.51      0.41      0.45        61
          10       0.83      0.86      0.84        63
          11       0.68      0.49      0.57        53
          12       0.78      0.63      0.70        68
          13       0.64      0.84      0.72        55
          14       0.82      0.96      0.89        57
          15       0.83      0.60      0.70        63
          16       0.73      0.54      0.62        69

    accuracy                           0.70      1071
   macro avg       0.70      0.71      0.69      1071
weighted avg       0.70      0.70      0.69      1071

confusion_matrix
  [[48  5  0  0  0  3  0  0  1  3  6  1  0  1  0  0  0]
 [ 1 65  0  0  0  1  0  0  5  0  0  0  0  0  0  0  0]
 [ 0  1 48  1  1  0  1  0  0  0  0  0  2  0  0  0  3]
 [ 0  0  1 52  0  0  0  1  0  0  0  0  0  0  2  0  2]
 [ 3  6  6  0 20  8  4  1  2  3  2  1  4  2  2  2  0]
 [ 5  7  1  0  0 26  2  1  4 10  1  3  2 13  0  1  0]
 [ 0  0  0  0  0  0 67  0  0  1  0  0  1  0  0  1  1]
 [ 0  0  0  1  0  0  0 56  0  0  0  0  0  0  2  0  2]
 [ 2  5  0  0  0  0  0  0 46  0  0  0  0  0  0  0  0]
 [ 9  2  2  0  2  3  6  1  0 25  1  1  3  3  0  3  0]
 [ 2  2  2  0  2  0  0  0  1  0 54  0  0  0  0  0  0]
 [ 1  3  1  0  4  7  0  1  2  3  1 26  0  3  0  1  0]
 [ 2  1  3  1  3  2  3  0  3  1  0  1 43  1  1  0  3]
 [ 1  3  0  0  0  1  0  0  2  1  0  1  0 46  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 55  0  2]
 [ 6  2  2  0  1  3  0  0  0  2  0  4  0  3  1 38  1]
 [ 0  0  6 13  3  2  2  2  0  0  0  0  0  0  4  0 37]]
==================================================
model:  Random Forest Classifier
accuracy  0.8263305322128851
classification_report
                precision    recall  f1-score   support

           0       0.81      0.85      0.83        68
           1       0.75      0.97      0.85        72
           2       0.77      0.98      0.86        57
           3       0.83      0.95      0.89        58
           4       0.77      0.45      0.57        66
           5       0.61      0.36      0.45        76
           6       0.95      1.00      0.97        71
           7       0.95      0.90      0.92        61
           8       0.75      0.87      0.81        53
           9       0.73      0.67      0.70        61
          10       0.90      0.98      0.94        63
          11       0.83      0.75      0.79        53
          12       0.91      0.85      0.88        68
          13       0.76      0.95      0.85        55
          14       0.89      1.00      0.94        57
          15       0.81      0.83      0.82        63
          16       0.96      0.80      0.87        69

    accuracy                           0.83      1071
   macro avg       0.82      0.83      0.82      1071
weighted avg       0.82      0.83      0.82      1071

confusion_matrix
  [[58  2  0  0  1  0  0  0  1  2  2  1  0  1  0  0  0]
 [ 0 70  0  0  0  0  0  0  1  0  0  0  1  0  0  0  0]
 [ 0  0 56  0  0  0  1  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 55  0  0  0  1  0  0  0  0  0  0  2  0  0]
 [ 4  2  6  0 30  7  1  0  1  1  1  1  3  2  1  5  1]
 [ 4  8  0  0  2 27  1  0  6 10  0  2  0 11  0  5  0]
 [ 0  0  0  0  0  0 71  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0 55  0  0  0  0  0  0  2  0  1]
 [ 0  6  0  0  0  0  0  0 46  0  0  0  0  1  0  0  0]
 [ 3  1  2  0  0  5  1  0  2 41  3  0  2  0  0  1  0]
 [ 0  0  1  0  0  0  0  0  0  0 62  0  0  0  0  0  0]
 [ 1  2  0  0  4  2  0  0  2  1  0 40  0  1  0  0  0]
 [ 0  1  2  0  1  2  0  0  0  0  1  0 58  0  2  1  0]
 [ 0  0  1  0  0  0  0  0  2  0  0  0  0 52  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 2  0  2  0  1  1  0  0  0  1  0  4  0  0  0 52  0]
 [ 0  1  3  8  0  0  0  2  0  0  0  0  0  0  0  0 55]]
==================================================
model:  K Nearest Neighbors
accuracy  0.7366946778711485
classification_report
                precision    recall  f1-score   support

           0       0.65      0.72      0.69        68
           1       0.81      0.78      0.79        72
           2       0.72      0.98      0.83        57
           3       0.73      0.91      0.81        58
           4       0.37      0.20      0.26        66
           5       0.45      0.13      0.20        76
           6       0.82      0.96      0.88        71
           7       0.91      0.69      0.79        61
           8       0.69      1.00      0.82        53
           9       0.55      0.44      0.49        61
          10       0.79      0.97      0.87        63
          11       0.66      0.66      0.66        53
          12       0.79      0.93      0.85        68
          13       0.68      0.82      0.74        55
          14       0.89      0.98      0.93        57
          15       0.74      0.78      0.76        63
          16       0.90      0.77      0.83        69

    accuracy                           0.74      1071
   macro avg       0.72      0.75      0.72      1071
weighted avg       0.71      0.74      0.71      1071

confusion_matrix
  [[49  1  0  0  1  1  0  0  3  5  3  0  0  2  0  3  0]
 [ 3 56  0  0  0  1  0  0 10  0  0  0  0  1  0  1  0]
 [ 0  0 56  0  0  0  0  0  0  0  0  0  0  0  1  0  0]
 [ 0  0  0 53  0  0  1  1  0  1  0  0  0  0  1  0  1]
 [ 5  3  4  2 13  5  4  1  3  4  3  3  6  3  2  4  1]
 [ 8  7  1  0  9 10  2  1  3 10  3  3  4  9  0  6  0]
 [ 0  0  0  2  0  0 68  0  0  1  0  0  0  0  0  0  0]
 [ 0  0  2  2  5  0  1 42  0  0  0  1  3  1  2  0  2]
 [ 0  0  0  0  0  0  0  0 53  0  0  0  0  0  0  0  0]
 [ 4  1  3  1  2  1  5  1  0 27  4  5  3  0  0  3  1]
 [ 0  0  2  0  0  0  0  0  0  0 61  0  0  0  0  0  0]
 [ 2  1  3  1  1  3  0  0  2  0  2 35  1  1  0  0  1]
 [ 0  0  0  1  0  0  1  0  0  0  1  2 63  0  0  0  0]
 [ 1  0  1  1  2  1  0  0  2  1  0  1  0 45  0  0  0]
 [ 0  0  1  0  0  0  0  0  0  0  0  0  0  0 56  0  0]
 [ 3  0  0  3  0  0  0  0  1  0  0  3  0  4  0 49  0]
 [ 0  0  5  7  2  0  1  0  0  0  0  0  0  0  1  0 53]]
==================================================
model:  Decision Tree Classifier
accuracy  0.6479925303454716
classification_report
                precision    recall  f1-score   support

           0       0.63      0.50      0.56        68
           1       0.69      0.79      0.74        72
           2       0.68      0.72      0.70        57
           3       0.80      0.71      0.75        58
           4       0.40      0.35      0.37        66
           5       0.41      0.26      0.32        76
           6       0.83      0.87      0.85        71
           7       0.94      0.74      0.83        61
           8       0.84      0.72      0.78        53
           9       0.44      0.46      0.45        61
          10       0.76      0.87      0.81        63
          11       0.53      0.58      0.55        53
          12       0.54      0.71      0.61        68
          13       0.70      0.82      0.76        55
          14       0.79      0.84      0.81        57
          15       0.50      0.49      0.50        63
          16       0.61      0.68      0.64        69

    accuracy                           0.65      1071
   macro avg       0.65      0.65      0.65      1071
weighted avg       0.65      0.65      0.64      1071

confusion_matrix
  [[34  2  0  0  2 11  0  0  1  2  9  1  1  3  0  2  0]
 [ 0 57  0  0  1  2  0  0  1  1  0  5  2  1  0  2  0]
 [ 0  0 41  0  1  1  0  1  0  2  0  0  3  1  0  1  6]
 [ 0  0  0 41  1  0  0  0  0  0  0  0  3  0  5  0  8]
 [ 3  4  4  1 23  3  3  0  1  5  1  2  5  1  1  3  6]
 [ 3  7  0  0  8 20  2  0  3 11  1  4  6  7  0  4  0]
 [ 0  0  2  0  2  1 62  0  0  1  1  0  2  0  0  0  0]
 [ 0  0  1  2  4  0  0 45  0  0  0  0  0  0  3  0  6]
 [ 1  6  0  0  0  1  0  0 38  2  2  3  0  0  0  0  0]
 [11  0  1  0  2  0  3  0  0 28  2  4  1  0  0  9  0]
 [ 1  1  0  0  1  0  0  0  0  1 55  1  2  1  0  0  0]
 [ 0  2  0  0  3  3  2  0  1  3  0 31  4  2  0  2  0]
 [ 0  0  2  0  2  1  1  0  0  3  1  1 48  2  3  3  1]
 [ 0  0  1  0  0  3  0  0  0  1  0  2  0 45  0  3  0]
 [ 0  0  2  0  1  0  0  0  0  0  0  0  5  0 48  0  1]
 [ 1  4  3  0  4  2  2  0  0  4  0  5  4  1  0 31  2]
 [ 0  0  3  7  3  1  0  2  0  0  0  0  3  0  1  2 47]]
==================================================
model:  Gaussian NB
accuracy  0.446311858076564
classification_report
                precision    recall  f1-score   support

           0       0.53      0.57      0.55        68
           1       0.50      0.83      0.62        72
           2       0.30      0.47      0.37        57
           3       0.50      0.40      0.44        58
           4       0.19      0.15      0.17        66
           5       0.40      0.26      0.32        76
           6       0.00      0.00      0.00        71
           7       0.86      0.92      0.89        61
           8       0.68      0.79      0.73        53
           9       0.16      0.13      0.14        61
          10       0.52      0.67      0.58        63
          11       0.43      0.57      0.49        53
          12       0.21      0.26      0.23        68
          13       0.00      0.00      0.00        55
          14       0.67      0.93      0.78        57
          15       0.26      0.29      0.27        63
          16       0.42      0.46      0.44        69

    accuracy                           0.45      1071
   macro avg       0.39      0.45      0.41      1071
weighted avg       0.39      0.45      0.41      1071

confusion_matrix
  [[39  7  0  0  2  2  0  0  3  2  9  3  0  0  0  1  0]
 [ 0 60  0  0  0  5  0  0  4  0  0  0  3  0  0  0  0]
 [ 0  1 27  4  5  0  0  0  0  0  1  0  9  0  0  3  7]
 [ 0  1  0 23  0  0  0  2  0  0  0  0  0  0 15  0 17]
 [ 6  6  5  3 10  3  0  0  2  4  3  4  8  0  0  5  7]
 [ 9  8  0  0  1 20  0  0  4  9  2 11  3  0  0  9  0]
 [ 0  1 27  0 10  0  0  0  0  4  8  1 16  0  0  1  3]
 [ 0  0  0  1  0  0  0 56  0  0  0  0  0  0  2  0  2]
 [ 0  6  0  0  0  0  0  0 42  2  0  0  1  0  0  2  0]
 [ 9  2  5  0  2  5  0  0  3  8  9  7  7  0  0  4  0]
 [ 8  6  0  0  3  0  0  0  0  1 42  0  3  0  0  0  0]
 [ 0  5  0  0  5  2  0  0  1  2  0 30  4  0  0  4  0]
 [ 2  8 15  1  3  1  0  1  1  1  4  0 18  0  5  3  5]
 [ 0  7  0  0  2  2  0  0  2 10  2  6  8  0  0 16  0]
 [ 0  0  0  2  0  0  0  0  0  0  0  0  0  0 53  0  2]
 [ 1  2  1  0  8 10  0  0  0  6  1  8  7  0  0 18  1]
 [ 0  1 10 12  1  0  0  6  0  1  0  0  0  0  4  2 32]]
==================================================
model:  Ada Boost Classifier
accuracy  0.23436041083099907
classification_report
                precision    recall  f1-score   support

           0       0.00      0.00      0.00        68
           1       1.00      0.60      0.75        72
           2       0.28      0.56      0.37        57
           3       0.00      0.00      0.00        58
           4       0.00      0.00      0.00        66
           5       0.00      0.00      0.00        76
           6       0.29      0.79      0.42        71
           7       0.00      0.00      0.00        61
           8       0.17      1.00      0.28        53
           9       0.00      0.00      0.00        61
          10       0.17      0.41      0.24        63
          11       0.00      0.00      0.00        53
          12       0.00      0.00      0.00        68
          13       0.00      0.00      0.00        55
          14       0.00      0.00      0.00        57
          15       0.00      0.00      0.00        63
          16       0.17      0.59      0.27        69

    accuracy                           0.23      1071
   macro avg       0.12      0.23      0.14      1071
weighted avg       0.13      0.23      0.14      1071

confusion_matrix
  [[ 0  0  0  0  0  0  0  0 65  0  3  0  0  0  0  0  0]
 [ 0 43  0  0  0  0  0  0 17  0 12  0  0  0  0  0  0]
 [ 0  0 32  0  0  0 15  0  0  0  0  0  0  0  0  0 10]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 58]
 [ 0  0 14  0  0  0  9  0 27  0 11  0  0  0  0  0  5]
 [ 0  0  0  0  0  0 10  0 42  0 24  0  0  0  0  0  0]
 [ 0  0 14  0  0  0 56  0  0  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 61]
 [ 0  0  0  0  0  0  0  0 53  0  0  0  0  0  0  0  0]
 [ 0  0  3  0  0  0 18  0 22  0 18  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  8  0 29  0 26  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 15  0 17  0 21  0  0  0  0  0  0]
 [ 0  0 16  0  0  0 24  0 10  0 10  0  0  0  0  0  8]
 [ 0  0  1  0  0  0 25  0 13  0 16  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 57]
 [ 0  0  8  0  0  0 15  0 25  0 15  0  0  0  0  0  0]
 [ 0  0 28  0  0  0  0  0  0  0  0  0  0  0  0  0 41]]
==================================================
model:  Gradient Boosting Classifier
accuracy  0.6498599439775911
classification_report
                precision    recall  f1-score   support

           0       0.63      0.69      0.66        68
           1       0.74      0.94      0.83        72
           2       0.52      0.89      0.66        57
           3       0.79      0.90      0.84        58
           4       0.38      0.20      0.26        66
           5       0.50      0.20      0.28        76
           6       0.00      0.00      0.00        71
           7       0.98      0.89      0.93        61
           8       0.65      0.74      0.69        53
           9       0.31      0.48      0.37        61
          10       0.75      0.95      0.84        63
          11       0.59      0.62      0.61        53
          12       0.64      0.69      0.66        68
          13       0.68      0.89      0.77        55
          14       0.86      0.96      0.91        57
          15       0.71      0.54      0.61        63
          16       0.69      0.72      0.71        69

    accuracy                           0.65      1071
   macro avg       0.61      0.66      0.63      1071
weighted avg       0.61      0.65      0.61      1071

confusion_matrix
  [[47  3  0  0  1  1  0  0  1  7  5  2  0  1  0  0  0]
 [ 0 68  0  0  0  0  0  0  2  0  0  0  0  2  0  0  0]
 [ 0  0 51  1  0  0  0  0  0  0  0  1  1  0  0  0  3]
 [ 0  0  0 52  1  0  0  1  0  0  0  0  0  0  1  0  3]
 [ 5  1 11  1 13  6  0  0  2  6  2  3  4  3  1  3  5]
 [11  2  0  0  2 15  0  0  6 19  0  2  3 12  0  4  0]
 [ 0  0 19  0 11  0  0  0  0 20  4  2 10  0  0  0  5]
 [ 0  0  0  3  0  0  0 54  0  0  0  0  0  0  3  0  1]
 [ 0 11  0  0  0  0  0  0 39  0  2  0  1  0  0  0  0]
 [ 4  0  3  0  2  1  0  0  4 29  6  2  5  2  0  3  0]
 [ 3  0  0  0  0  0  0  0  0  0 60  0  0  0  0  0  0]
 [ 1  3  2  0  0  1  0  0  3  6  0 33  0  2  0  2  0]
 [ 0  2  2  0  0  2  0  0  1  3  1  1 47  1  3  2  3]
 [ 1  1  2  0  0  0  0  0  2  0  0  0  0 49  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  1  0 55  0  1]
 [ 3  1  2  0  2  4  0  0  0  5  0 10  1  0  0 34  1]
 [ 0  0  6  9  2  0  0  0  0  0  0  0  1  0  1  0 50]]
==================================================
model:  XGBoost Classifier
accuracy  0.7871148459383753
classification_report
                precision    recall  f1-score   support

           0       0.72      0.76      0.74        68
           1       0.76      0.92      0.83        72
           2       0.72      0.89      0.80        57
           3       0.78      0.93      0.85        58
           4       0.81      0.39      0.53        66
           5       0.75      0.20      0.31        76
           6       0.91      0.99      0.95        71
           7       0.93      0.92      0.93        61
           8       0.77      0.75      0.76        53
           9       0.55      0.69      0.61        61
          10       0.91      0.95      0.93        63
          11       0.73      0.75      0.74        53
          12       0.83      0.78      0.80        68
          13       0.72      0.93      0.81        55
          14       0.88      1.00      0.93        57
          15       0.79      0.84      0.82        63
          16       0.86      0.83      0.84        69

    accuracy                           0.79      1071
   macro avg       0.79      0.80      0.78      1071
weighted avg       0.79      0.79      0.77      1071

confusion_matrix
  [[52  4  0  0  1  0  0  0  1  7  1  1  0  1  0  0  0]
 [ 1 66  0  0  1  0  0  0  1  1  0  0  1  1  0  0  0]
 [ 0  0 51  4  0  0  0  0  0  0  0  1  0  0  0  0  1]
 [ 0  0  0 54  1  0  0  1  0  0  0  0  0  0  1  0  1]
 [ 4  2  7  1 26  3  1  0  1  4  2  3  4  1  1  3  3]
 [ 7  4  0  0  1 15  2  0  4 15  0  4  1 15  0  8  0]
 [ 0  0  0  0  0  0 70  0  0  1  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 56  0  0  0  0  0  0  2  0  1]
 [ 0  7  0  0  0  0  0  0 40  1  3  0  2  0  0  0  0]
 [ 4  0  4  0  2  0  1  0  2 42  0  2  2  0  0  2  0]
 [ 1  0  2  0  0  0  0  0  0  0 60  0  0  0  0  0  0]
 [ 1  2  0  0  0  2  3  0  1  1  0 40  0  2  0  1  0]
 [ 0  1  1  2  0  0  0  0  1  2  0  1 53  0  4  0  3]
 [ 0  0  2  0  0  0  0  0  1  1  0  0  0 51  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 2  1  2  0  0  0  0  0  0  2  0  3  0  0  0 53  0]
 [ 0  0  2  6  0  0  0  3  0  0  0  0  1  0  0  0 57]]

In [94]:
model=RandomForestClassifier()
model.fit(x_train_scaled,y_train)
y_pred=model.predict(x_test_scaled)

print('accuracy ',accuracy_score(y_test,y_pred))
print('classification_report\n ',classification_report(y_test,y_pred))                            
print('confusion_matrix\n ',confusion_matrix(y_test,y_pred))

accuracy  0.8319327731092437
classification_report
                precision    recall  f1-score   support

           0       0.79      0.87      0.83        68
           1       0.76      1.00      0.86        72
           2       0.76      0.98      0.85        57
           3       0.87      0.93      0.90        58
           4       0.79      0.45      0.58        66
           5       0.59      0.32      0.41        76
           6       0.93      1.00      0.97        71
           7       0.98      0.92      0.95        61
           8       0.71      0.89      0.79        53
           9       0.71      0.69      0.70        61
          10       0.94      0.98      0.96        63
          11       0.82      0.77      0.80        53
          12       0.92      0.87      0.89        68
          13       0.79      0.95      0.86        55
          14       0.89      1.00      0.94        57
          15       0.93      0.84      0.88        63
          16       0.92      0.81      0.86        69

    accuracy                           0.83      1071
   macro avg       0.83      0.84      0.83      1071
weighted avg       0.83      0.83      0.82      1071

confusion_matrix
  [[59  2  0  0  1  1  0  0  2  0  1  0  0  2  0  0  0]
 [ 0 72  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 56  0  0  0  0  0  0  0  0  0  0  0  0  0  1]
 [ 0  0  0 54  0  0  0  1  0  0  0  0  0  0  2  0  1]
 [ 3  2  7  0 30  7  2  0  2  3  1  3  2  1  1  1  1]
 [ 5  7  0  0  3 24  1  0  8 12  0  2  1 10  0  3  0]
 [ 0  0  0  0  0  0 71  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  1  1  0  0 56  0  0  0  0  0  0  2  0  1]
 [ 0  6  0  0  0  0  0  0 47  0  0  0  0  0  0  0  0]
 [ 4  1  1  0  1  4  2  0  2 42  1  1  2  0  0  0  0]
 [ 1  0  0  0  0  0  0  0  0  0 62  0  0  0  0  0  0]
 [ 0  3  0  0  2  3  0  0  2  1  0 41  0  1  0  0  0]
 [ 0  1  3  0  0  1  0  0  0  1  1  0 59  0  1  0  1]
 [ 0  0  1  0  0  0  0  0  2  0  0  0  0 52  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 3  1  2  0  0  1  0  0  0  0  0  3  0  0  0 53  0]
 [ 0  0  4  7  0  0  0  0  1  0  0  0  0  0  1  0 56]]

In [95]:
import pickle
pickle.dump(scaler,open('scaler.pkl','wb'))
pickle.dump(model,open('model.pkl','wb'))

In [96]:
scaler=pickle.load(open('scaler.pkl','rb'))
model=pickle.load(open('model.pkl','rb'))

In [115]:
import pickle
import numpy as np

scaler=pickle.load(open('scaler.pkl','rb'))
model=pickle.load(open('model.pkl','rb'))

class_names=['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
       'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
       'Banker', 'Writer', 'Accountant', 'Designer',
       'Construction Engineer', 'Game Developer', 'Stock Investor',
       'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    gender_encoded= 1 if gender.lower() == 'female' else 0
    part_time_job_encoded= 1 if part_time_job else 0
    extracurricular_activities_encoded= 1 if extracurricular_activities else 0
    
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,
                              average_score]])
    
    
    scaled_features=scaler.transform(feature_array)
    probabilities=model.predict_proba(scaled_features)
    
    top_classes_idx=np.argsort(-probabilities[0])[:5]
    top_classes_names_probs=[(class_names[idx],probabilities[0][idx])for idx in top_classes_idx]
    return top_classes_names_probs

In [116]:
final_recommendations = Recommendations(gender ='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=7,
                                        math_score=65,
                                        history_score=60,
                                        physics_score=97,
                                        chemistry_score=94,
                                        biology_score=71,
                                        english_score=81,
                                        geography_score=66,
                                        total_score=534,
                                        average_score=76.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Teacher with probability 0.5
Business Owner with probability 0.18
Unknown with probability 0.16
Real Estate Developer with probability 0.08
Government Officer with probability 0.05

In [103]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("scaler.pkl", 'rb'))
model = pickle.load(open("model.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [104]:
# Example usage 1
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=7,
                                        math_score=65,
                                        history_score=60,
                                        physics_score=97,
                                        chemistry_score=94,
                                        biology_score=71,
                                        english_score=81,
                                        geography_score=66,
                                        total_score=534,
                                        average_score=76.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Teacher with probability 0.5
Business Owner with probability 0.18
Unknown with probability 0.16
Real Estate Developer with probability 0.08
Government Officer with probability 0.05

NameError: name 'scikit' is not defined